<ul class="nav nav-pills bg-light round list-filters">
  <li class="nav-item">
    <a class="nav-link" routerLink="active" routerLinkActive="filter-active">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="complete" routerLinkActive="filter-active">Complete</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="all" routerLinkActive="filter-active">All</a>
  </li>
</ul>
