<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <img id="img-logo" src="../../assets/images/fitlist-header-logo.png" alt="">
  <a class="navbar-brand"> Fitlist</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="mylist">My List</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="following">Following</a>
      </li>
      <!--<li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="myactivity">My Activity</a>
      </li>-->
    </ul>
    <p class="nav-greeting">Welcome, {{ username }}</p>
  </div>
</nav>
