<div class="container list-container">
  <div class="row justify-content-center">
    <div class="col-sm-9">
      <app-list-menu></app-list-menu>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




