<div class="list-group">
  <div class="list-group-item">
    <div class="input-group">
      <input class="form-control" id="txtAddWorkout" type="text" placeholder="workout" [(ngModel)]="workoutTitle"
             (keyup.enter)="submitWorkout(workoutTitle)"/>
      <button type="button"
              class="btn input-group-addon"
              id="btnAddWorkout"
              (click)="submitWorkout(workoutTitle)">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <ng-container *ngFor="let l of list;let i = index">
    <div class="list-group-item">
      <div class="row">
        <div class="col-7">
          <label>
            {{l.title | titlecase}} <span
            class="date-time">{{ createOrComplete(l.complete, l.createdOn, l.completedOn) | nbsp}}</span>
          </label>
        </div>
        <div class="col-5">
                <span class="float-right">
                  <button type="button"
                          class="btn btn-outline-success btn-unchecked"
                          [ngClass]="{'btn-unchecked' : !l.complete, 'btn-checked' : l.complete}"
                          (click)="submitActivity(i, l.complete)">
                  <i class="fa fa-check"></i>
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="modal.show();"><i class="fa fa-minus"></i>
                </button>
                </span>
        </div>
      </div>
    </div>
    <app-modal #modal>
      <div class="app-modal-header">
        Delete
      </div>
      <div class="app-modal-body">
        Are you sure you want to delete this item?
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteWorkout(i)">Delete Workout</button>
      </div>
    </app-modal>
  </ng-container>
</div>
