#btnAddWorkout {
  border: 1px solid #00eb88;
  border-radius: 0 .25rem .25rem 0;
  background: #00FF99;
  color: white;
}
#btnAddWorkout:hover {
  background: #00d785;
  border: 1px solid #00d785;
}
#btnAddWorkout:focus {
  box-shadow: initial;
}
#txtAddWorkout {
  border-right: 0 solid;
}
#txtAddWorkout:focus {
  border-color: #00eb88;
  box-shadow: none;
}
.date-time {
  color: #66c7cb;
}
.btn-unchecked {
  border: 1px solid #0F9;
  color: #0F9;
  &:hover {
    color: #ffffff;
    background: #0f9;
  }
  &:focus {
    box-shadow: 0 0 0 .2rem #66c7cb !important;
  }
  &:active {
    border: 1px solid #0F9 !important;
    color: #ffffff !important;
    background: #0f9 !important;
  }
}
.btn-checked {
  border: 1px solid #0F9;
  color: #ffffff;
  background: #0f9;
  &:hover {
    color: #0F9;
    background: #ffffff;
  }
  &:focus {
    @extend .btn-unchecked:focus;
  }
  &:active {
    @extend .btn-unchecked:active;
  }
}

/*.btn-checked:focus, .btn-unchecked:focus {
  box-shadow: 0 0 0 .2rem #66c7cb !important;
}
.btn-checked:active, .btn-unchecked:active {
  border: 1px solid #0F9 !important;
  color: #ffffff !important;
  background: #0f9 !important;
}*/
