<div class="container-fluid mt-5" style="margin-top: 100px !important;">
  <div class="row justify-content-center mt-5">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link mt-2">Select a time frame</a>
      </li>
      <li class="nav-item dropdown btn btn-outline-primary mx-2">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{start}}</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
          <ng-container  *ngFor="let l of lineChartLabels; let i = index">
            <a class="dropdown-item" (click)="startMonth(i)">{{l}}</a>
          </ng-container>
        </div>
      </li>
      <li class="nav-item dropdown btn btn-outline-primary mx-2">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{end}}</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
          <ng-container  *ngFor="let e of endChartLabels; let i = index">
            <a class="dropdown-item" (click)="endMonth(i)">{{e}}</a>
          </ng-container>
        </div>
      </li>
        <button class="btn btn-outline-primary mx-2" (click)="randomize()">CLICK</button>
    </ul>
  </div>
  <div class="row justify-content-center my-5" *ngIf="graphShow">
    <div class="col-sm-6 my-5">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="newChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>


