/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  background: linear-gradient(141deg, #00FF99, #00D1B8, #0066FF);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
