<div class="container-fluid mt-5">
  <div class="row justify-content-center mt-5">
      <div class="col-7 mt-5">
        <div class="list-group">
          <div class="list-group-item">
            <div class="form-group mt-3">
                <div class="input-group">
                  <input class="form-control" placeholder="Search" type="text" #search (keyup)="searchData(search.value)">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">Search</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row justify-content-center mt-2">
    <div class="col-7">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let f of following">
          <div class="row">
            <div class="col-7">
              <label>{{f.id}}</label>
            </div>
            <div class="col-5">
        <span class="float-right">
          <button type="button" class="btn btn-outline-success btn-unchecked">
            <i class="fa fa-plus"></i>
          </button>
        </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

